.remote#create_referral_source{ hidden }
%h3 Referral Sources
#referral_source_table
  = render "referral_source"

.remote#create_account_category{ hidden }
%h3 Account Categories
#account_category_table
  = render "admin/account_categories/index"