= section(object, :orders)
.list#orders
  - orders = object.orders.order('updated_at desc').paginate(:page => 1, :per_page => 20)
  = render :partial => "orders/order", :collection => object.orders.paginate(:page => 1, :per_page => 20)

= paginate( collection: orders, id: 'orders_pagination', params: { action: 'orders' } )
