$('#create_account').slideUp(250);

$('#account_#{@account.id}').slideUp(250);

$('#account_#{@account.id}').replaceWith('#{ j render(:partial => 'accounts/account', :collection => [ @account]) }');

$("#edit_account").slideUp(250)