.section
  %table
    %tr
      %td
        .label File Name
        = f.text_field :file_name, :autofocus => true, :style => "width:140px;"
      %td= spacer
      %td
        .label Upload File
        .action
          = f.file_field :attachment, :multipart => true