- if @new_business_rule == "false"
  $("#create_business_rule").effect("shake", { duration:250, distance: 6 });
  $("#create_br_error").html("This Entry already exists")
  $("#create_br_error").css('background-color','red')